@media screen and (max-width: 1000px) {
    html {
        scroll-behavior: smooth;
        margin:auto;
    }

    nav {
        height: 6rem;
        margin:auto;
    }

    .left{
        text-align: center;
    }

    .right {
        display: none;
    }

    .firstsection {
        display: flex;
        height: max-content;
        width: max-content;
        margin-bottom: 2rem;
    }

    .leftsection {
        font-size: 6rem;
        margin: auto;
    }

    b {
        font-size: 3rem;
    }

    .rightsection {
        height: fit-content;
        margin: auto;
    }

    .secondsection {
        height: 40vh;
        max-width: 95vh;

    }


    footer{
        height: auto;
        width: auto;
        font-size: 1.4rem;

    }

    .fourth{
        margin: auto;  
    }

    .leftsection .button{
        font-size:3rem;
        padding:5rem;
    }
}