@media screen and (max-width: 1000px) {
    html {
        scroll-behavior: smooth;
        margin:auto;
    }

    nav {
        height: 6rem;
        margin:auto;
    }

    .left{
        text-align: center;
    }

    .right {
        display: none;
    }

    .firstsection {
        display: flex;
        height: 95vh;
        margin-bottom: 2rem;
    }

    .leftsection {
        font-size: 6rem;
        margin-left: 100px;
    }

    b {
        font-size: 3rem;
    }

    .rightsection {
        height: max-content;
        margin-left: auto;
    }

    .secondsection {
        height: 40vh;
        max-width: 95vh;

    }

    .leftsection .button {
        padding: 40px
    }

    footer{
        height: auto;
        width: auto;
        font-size: 1.7rem;

    }

    .fourth{
        margin: auto;  
    }
}