@media screen and (max-width: 1000px) {
    nav{
        height: 6rem;
        margin: 15px 10px;
    }

    .right{
        display: none;
    }

    .firstsection{
        display: flex;
        height: 95vh;
        margin-bottom: 2rem;
    }

    .leftsection{
        font-size: 6rem;
        margin-left: 100px;
    }

    b{
        font-size: 4rem;
    }

    .button{
        
    }

    .rightsection{
        height: max-content;
    }

    .secondsection{
        height: 40vh;
        max-width: 95vh;
    }

    .leftsection .button{
        padding:40px}
}

